input{
    border: none;
    outline: none;
    border-bottom: 1px solid;
}
.login-form,.signup-form{
    width: 25rem;
    text-align: center;
}
.login{
    justify-content: center;
}

.login-btn{
    width: 50%;
}