.video-player{
    position: relative;
}

.video-player-details{
    max-width: 60vw;
    position: fixed;
}

@media screen and (max-width: 1280px){
    .video-player-details{
        position: static;
        margin: auto;
    }
    .suggested-video{
        display: flex;
        gap: 4rem;
        margin: 0 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}