@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.navbar{
    align-items: space-between;
    justify-content: space-between;
}
.site-name{
    font-family: 'Koulen', cursive;
}
.site-subname{
    color: var(--app-light-color);
}
.navbar-wrapper{
    position: sticky;
    z-index: 4;
    top: 0;
}
.fa-search{
    margin: 0;
    padding: 0;
}
.search-bar-wrapper{
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 5px;
}
.search-bar-wrapper>input{
    max-width: 100%;
    border: none;
    outline: none;
}
.search-bar-wrapper>button{
    background-color: transparent;
    border: none;
    outline: none;
}
.auth-btn{
    color: var(--white-color);
}