@import url("../style/layout.css");
@import url("../style/darkMode.css");
@import url("../style/variables.css");

html,body,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fa , .fas, .far{
    font-size: 1.5rem;
    cursor: pointer;
}

aside{
    height: 100%;
    position: relative;
}
.main{
    height: 100%;
    background-color: var(--nav-sub-color);
}
.position-relative{
    position: relative;
}

.delete-btn{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--trash-btn-color);
}

.error-page-img{
    width: 35rem;
    object-fit: cover;
}
